:root {
    --body-color: #6a7152;
    --primary-color: #a30f4e;
    --secondary-color: #3f4238;
    --tertiary-color: #797d62;
    --poppins: "poppins";
    --border-color: #333;
    --bubble-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    border: none;
}

body {
    /* background: linear-gradient(20deg, #8e6d5d 10%, #aa8775 20%, #8e6d5d 50%, #aa8775 100%); */
    background-color: var(--body-color);
}

#tutorialSection {
    width: 100%;
    height: 100px;
    /* border: 10px solid red; */
    transition: all 0.5s ease-in-out;
}

#tutorial-wrap {
    position: relative;
    z-index: 5;
    top: -32px;
    left: 68px;
    width: max-content;
    height: max-content;
    /* border: 10px solid red; */
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
    box-shadow: 0px 16px 8px -5px rgba(0, 0, 0, .5);
}

#tutorial {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.tut-buttons {
    position: relative;
    z-index: 2;
    top: 20px;
    left: -10px;
    width: max-content;
}

#tut-close,
#tut-next {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: var(--border-color) 2px solid;
    background-color: var(--border-color);
    color: white;
}

#tut-close::after {
    content: "\d7";
    font-size: large;
    line-height: 0.8;
}

#tut-close:hover,
#tut-next:hover {
    background-color: var(--bubble-color);
    color: var(--border-color);
    cursor: pointer;
}

.arrow-right {
    display: inline-block;
    padding: 3px;
    border: solid white;
    border-width: 0 2px 2px 0;
    margin-bottom: 1px;
    margin-left: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#tut-next:hover .arrow-right {
    border: solid var(--border-color);
    border-width: 0 2px 2px 0;
}

.tut-bubble {
    display: block;
    min-width: 120px;
    max-width: 360px;
    min-height: 40px;
    max-height: 120px;
    background: var(--bubble-color);
    border-radius: 4px;
    box-shadow: 2px 2px 0px 2px var(--border-color),
        -2px 2px 0px 2px var(--border-color),
        2px -2px 0px 2px var(--border-color),
        -2px -2px 0px 2px var(--border-color);
}

.tut-bubble p {
    /* border: 1px solid red; */
    font-family: "Open Sans";
    font-size: 0.8em;
    text-align: left;
    margin-block: 0.5em;
    padding-inline: 1em;
    word-wrap: break-word;
    hyphens: auto;
    transition: all 300ms ease-in;
}

.tut-handle {
    position: relative;
    z-index: 0;
    width: 20px;
    height: 20px;
    margin-bottom: -10px;
    background: var(--bubble-color);
    transform: rotate(-45deg);
    border-radius: 0 2px 0 0;
    box-shadow: 2px -2.5px 0px 2px var(--border-color);
}

#tut-show {
    display: none;
    position: absolute;
    top: 48px;
    left: -32px;
    padding: 4px 8px;
    border: #ffffff20 2px solid;
    background-color: #00000000;
    color: #ffffff80;
    border-radius: 4px;
    transform: rotate(-90deg);
}

#reset {
    display: none;
    position: absolute;
    top: 24px;
    right: -8px;
    padding: 4px 8px;
    border: #ffffff20 2px solid;
    background-color: #00000000;
    color: #ffffff80;
    border-radius: 4px;
    transform: rotate(90deg);
}

#tut-show:hover,
#reset:hover {
    border: #ffffff00 2px solid;
    background-color: #ffffff40;
    color: #fff;
    cursor: pointer;
}



/* utility */
.whitetext {
    color: white;
}

.rounded {
    border-radius: 4px;
}

.black {
    background-color: #000;
}

.white {
    background-color: #fff;
}

.red {
    background-color: var(--primary-color);
}

.horizontal {
    display: flex;
    gap: 8px;
    flex-direction: row;
}

.vertical {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.nogap {
    gap: 0;
}

.invis {
    display: none;
}

.clicked {
    border: 1.5px solid rgb(54, 224, 2);
}

/* HEADER */

#header {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    place-items: center;
}


#headerImgOne,
#headerImgTwo {
    height: 8vw;
    margin-top: 16px;
    margin-bottom: -1%;
}

#credits,
#credits a {
    color: #ffffff60;
    font-size: 10px;
    text-decoration: none;
}

#credits a:hover {
    color: #ffffff;
}

/* HEADER */

/* NAV */

.navbar {
    display: flex;
    gap: 24px;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
}

.btn:link,
.btn:visited {
    padding: 4px 2vw;
    background-color: whitesmoke;
    color: rgb(40, 40, 40);
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 20px;
    transition: all 200ms;
}

.btn:hover {
    transform: scale(1.1);
}

.btn.out:hover {
    box-shadow: 0 1px 8px var(--secondary-color);
}

.btn.switch {
    background-color: var(--secondary-color);
    color: white;
}

.btn.switch.var2 {
    background-color: var(--secondary-color);
}

.btn.switch:hover {
    box-shadow: 0 1px 8px var(--tertiary-color);
}

.btn:active {
    transform: scale(1);
}

hr {
    width: 80%;
    border: white 1px solid;
    margin-bottom: 24px;
}

/* NAV */



/* BUTTONS */

#buttons,
#buttons-monthly {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px;
    gap: 8px;
}

#buttons-monthly {
    gap: 16px !important;
}

/* hover effects */
.upload-img-bg label:hover,
.smallbtn:hover,
.bigbtn:hover,
.metingir:hover,
.select:hover,
.yazdir:hover,
.apply:hover,
.upload-img-lbl:hover {
    transition: 200ms ease-in-out;
    cursor: pointer;
    opacity: 0.9;
}

.upload-img-bg label:hover,
.smallbtn:hover,
.bigbtn:hover,
.apply:hover,
.upload-img-lbl:hover {
    box-shadow: 0px 0px 4px 2px var(--border-color);
}

.metingir:hover {
    filter: invert();
}

/* active effects */
.upload-img-bg label:active,
.smallbtn:active,
.bigbtn:active,
.metingir:active,
.select:active,
.yazdir:active,
.apply:active,
.upload-img-lbl:active {
    transition: 150ms ease-in-out;
    scale: 0.97;
}

/* upload */
.upload-img-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 136px;
    color: white;
    text-align: center;
}

.upload-img-bg label {
    width: 64px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    padding-block: 48%;
}

#upload-icon {
    font-size: 24px;
}

/* buttons */
.smallbtn {
    width: 64px;
    height: 64px;
}

.midbtn {
    width: 136px;
    height: 64px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
}

.bigbtn {
    width: 256px;
    height: 64px;
}

.bigbigbtn {
    width: 256px;
    height: 64px;
    padding: 20px;
    font-family: "Cronus Round";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    border-radius: 4px 0px 0px 4px;
}

.select {
    width: 136px;
    height: 50%;
    border-radius: 4px 4px 0px 0px;
    font-size: 0.8em;
    text-align: center;
}

.yazdir {
    width: 136px;
    height: 50%;
    border-radius: 0px 0px 4px 4px;
    background-color: rgb(54, 224, 2);
}

.apply {
    width: 64px;
    height: 64px;
    background-image: url(./images/btn/OK-null.svg);
    background-size: 60%;
    border-radius: 0px 4px 4px 0px;
}

.upload-img-lbl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
}

/* images */
.apply,
#bbaslik,
#wbaslik,
#bt,
#wt,
#bl,
#wl {
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

#bbaslik {
    background-image: url(./images/btn/bas-s.svg);
}

#wbaslik {
    background-image: url(./images/btn/bas-b.svg);
}

#bt {
    background-image: url(./images/btn/tpocg-s.svg);
}

#wt {
    background-image: url(./images/btn/tpocg-b.svg);
}

#bl {
    background-image: url(./images/btn/lonca-s.svg);
}

#wl {
    background-image: url(./images/btn/lonca-b.svg);
}

/* PREVIEWS */

#preview-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 430px);
    grid-template-rows: repeat(auto-fit, 500px);
    justify-content: center;
    width: 100%;
    margin-bottom: 128px;
    gap: 8px;
    margin-inline: auto;
}

.grid-cell {
    position: relative;
    width: 430px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
}

.oneri.grid-cell.first {
    background-image: url(./images/monthly/PNG/back-color.png);
}

.oneri.grid-cell {
    background-image: url(./images/monthly/PNG/oneri-wbg.png);
    background-size: cover;
}

.cover-container {
    position: relative;
}

.img-container {
    position: absolute;
    z-index: 3;
    top: 275px;
    left: 33px;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: 118px;
    gap: 5px;
}

.cover {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* PREVIEWS */



/* PLACED */

.imgplaced,
.bgplaced,
.titleplaced,
.tpocgplaced,
.loncaplaced,
.baslik-text,
.yazar-text,
.metinplaced {
    position: absolute;
    width: 430px;
    height: 500px;
}

.baslik-text,
.yazar-text {
    width: 295px;
    height: 28px;
    margin-top: 30px;
    margin-left: 115px;
    color: white;
    font-family: "Cronus Round";
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.yazar-text {
    width: 185px;
    margin-top: 72px;
    margin-left: 225px;
}

.metinplaced,
.oneri-metin {
    overflow: scroll;
    overflow-x: hidden;
    width: 375px;
    height: 445px;
    margin: 28px;
    text-indent: 1em;
}

#oneriGridTwo>.oneri-metin,
#oneriGridThree>.oneri-metin,
#oneriGridFour>.oneri-metin,
#oneriGridFive>.oneri-metin,
#gridTwo>.metinplaced {
    height: 420px;
    margin-top: 52px;
}

.oneri-baslik {
    font-size: 1.2em;
    position: absolute;
    top: 24px;
    left: 28px;
    height: 20px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
}

.metinplaced,
.metinplaced>*,
.oneri-metin,
.oneri-metin>* {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    overflow-wrap: normal;
    hyphens: auto;
}

.oneri-baslik {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-indent: 1em;
}

.img1placed,
.img2placed,
.img3placed {
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.img1placed {
    grid-column: 1;

}

.img2placed {
    grid-column: 2;
}

.img3placed {
    grid-column: 3;
}

/* PLACED */


/* KEYFRAMES */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* KEYFRAMES */

#phonewarning {
    position: relative;
    display: none;

}

.nophones-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    background-color: rgb(121, 205, 118);
    font-family: "Poppins";
    background-blend-mode: hue;
}

.nophones-h1 {
    margin-top: 8px;
    margin-bottom: -32px;
    color: rgb(15, 15, 15);
    font-size: 4em;
}

.nophones-p {
    padding: 10%;
    color: black;
    font-size: 1em;
    text-align: center;
}

.nophones-okbtn {
    width: 100%;
    height: min-content;
    border: none;
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 2em;
    font-weight: 600;
    padding-block: 10px;
    cursor: pointer;
}

.nophones-okbtn:hover {
    background-color: rgba(214, 214, 214, 0.7);
    color: black;
}




@media (max-width: 400px) {
    #nav {
        transform: scale(0.9);
    }

    #buttons {
        transform: scale(0.6);
        margin-top: -60px;
    }

    #previews.forIndex {
        transform: scale(0.6);
        margin-top: -970px;
    }

    #previews.forMach2 {
        transform: scale(0.6);
        margin-top: -900px;

    }

    #phonewarning {
        display: block;
    }

}